@font-face {
    font-family: font;
    src: url('font/font.ttf');
  }
html{
    width:100%;
    height:100%;
}
body{
    font-family: font;
    background-color: black;
    color:#FFFFA1;
    width:100%;
    height:100%;
    
}
#Left{
    width:50%;
    height:100%;
    float: left;
}

#Right{
    width:50%;
    height:100%;
    float: left;
}
img{
    margin: 10px;
    max-width:100%;
    max-height:100%;
}
div:hover{
    opacity: 0.7;
}

div:active{
    opacity: 0.5
}
image_1{
    position: absolute;
    left: 4vw;
    top: 1vw;
    margin-top:10vh;
}
image_1 img{
    border: 2px solid #FD3A3A;
    width: 20vw;
    height: 13vw;
    
}
image_2{
    position: absolute;
    right: 4vw;
    top:1vw;
    margin-top:10vh;
}image_2 img{
    border: 2px solid #FD3A3A;
    width: 20vw;
    height: 13vw;
    
}
image_3{
    position: absolute;
    left: 6.5vw;
    bottom: 1vw;
    margin-bottom:10vh;
}image_3 img{
    border: 2px solid #FD3A3A;
    width: 15vw;
    height: 15vw;
    
}
image_4{
    position: absolute;
    right: 6.5vw;
    bottom: 1vw;
    margin-bottom:10vh;
}image_4 img{
    border: 2px solid #FD3A3A;
    width: 15vw;
    height: 15vw;
    
}
vs{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    font-size: 10vw;
    color:#FFFFA1;
}
left_name{
    position: absolute;
    top:46%;
    left:15%;
    transform:translate(-50%,-50%);
    text-align: center;
    font-size: 1.3vw;
    margin-top:15px;
    margin-bottom:10px;
    white-space: nowrap;
    color: #FFFFA1;
}
right_name{
    position: absolute;
    top:46%;
    left:85%;
    transform:translate(-50%,-50%);
    text-align: center;
    font-size: 1.3vw;
    margin-top:15px;
    margin-bottom:10px;
    white-space: nowrap;
    color: #FFFFA1;
}
left_id{
    position: absolute;
    top:50%;
    left:15%;
    transform:translate(-50%,-50%);
    text-align: center;
    font-size: 1.3vw;
    margin-top:10px;
    margin-bottom:15px;
    white-space: nowrap;
    color: #FFFFA1;
}
right_id{
    position: absolute;
    top:50%;
    left:85%;
    transform:translate(-50%,-50%);
    text-align: center;
    font-size: 1.3vw;
    margin-top:10px;
    margin-bottom:15px;
    white-space: nowrap;
    color: #FFFFA1;
}
clock{
    position: absolute;
    top:85%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 3vw;
    color:black;
    background-color: #ECECEC;
    border-right: 5vw solid #ECECEC;
    border-left: 5vw solid #ECECEC;
    border-top-left-radius: 5vw 3vw;
    border-top-right-radius: 5vw 3vw;
    border-bottom-left-radius: 5vw 3vw;
    border-bottom-right-radius: 5vw 3vw;

}
stage{
    position: absolute;
    top:5%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 4vw;
    color:#FFFFA1;
}
/*여기서부터 메인용*/

maintitle{
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:#FFFFA1;
    font-size: 7vw;
    white-space: nowrap;
}
gang16{
    position: absolute;
    top:50%;
    left:25%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #1199BC;
    font-size: 4vw;
    background-color: #20FAE4;
    border: 3vw solid #20FAE4;
    border-top: 1vw solid #20FAE4;
    border-bottom: 1vw solid #20FAE4;
    border-top-left-radius: 5vw 3vw;
    border-top-right-radius: 5vw 3vw;
    border-bottom-left-radius: 5vw 3vw;
    border-bottom-right-radius: 5vw 3vw;
}
gang16:hover{
    opacity: 0.7;
}
gang16:active{
    opacity: 0.5;
}
gang32{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:#AA2AAC;
    font-size: 4vw;
    background-color: #20FAE4;
    border: 3vw solid #20FAE4;
    border-top: 1vw solid #20FAE4;
    border-bottom: 1vw solid #20FAE4;
    border-top-left-radius: 5vw 3vw;
    border-top-right-radius: 5vw 3vw;
    border-bottom-left-radius: 5vw 3vw;
    border-bottom-right-radius: 5vw 3vw;
}
gang32:hover{
    opacity: 0.7;
}
gang32:active{
    opacity: 0.5;
}
gang64{
    position: absolute;
    top:50%;
    left:75%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:#F9202C;
    font-size: 4vw;
    background-color: #20FAE4;
    border: 3vw solid #20FAE4;
    border-top: 1vw solid #20FAE4;
    border-bottom: 1vw solid #20FAE4;
    border-top-left-radius: 5vw 3vw;
    border-top-right-radius: 5vw 3vw;
    border-bottom-left-radius: 5vw 3vw;
    border-bottom-right-radius: 5vw 3vw;
}
gang64:hover{
    opacity: 0.7;
}
gang64:active{
    opacity: 0.5;
}

/*여기서부터 결과화면*/
winner{
    position: absolute;
    top:15%;
    left:40%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:#FFFFA1;
    font-size: 15vw;
    white-space: nowrap;
}
winner1{
    position: absolute;
    top:55%;
    left:23%;
    transform: translate(-50%,-50%);
}
winner1 img{
    border: 2px solid #FD3A3A;
    width: 20vw;
    height: 30vh;
}
winner2{
    position: absolute;
    top:55%;
    left:56%;
    transform: translate(-50%,-50%);
}
winner2 img{
    border: 2px solid #FD3A3A;
    width: 40vh;
    height: 40vh;
}
winnername{
    position: absolute;
    top:85%;
    left:40%;
    transform: translate(-50%,-50%);
    font-size: 3vw;
    white-space: nowrap;
    color:white;
}
restart{
    position: absolute;
    top:20%;
    left:89%;
    width:15vw;
    height: 15vw;
    margin: 10px;
    transform: translate(-50%,-50%);
}
home{
    position: absolute;
    top:80%;
    left:89%;
    width:15vw;
    height: 15vw;
    margin: 10px;
    transform: translate(-50%,-50%);
}