body{
    background-color: black;
    text-align: center;
    position: absolute;
}
title{
    color:#FFFFA1;
    font-size: 10vw;
}
강16{
    color: #1199BC;
    font-size: 4vw;
    top:50%;
    left:22%;
    transform:translate(-50%,-50%);
}
강32{
    color:#AA2AAC;
    font-size: 4vw;
    top:50%;
    left:44%;
    transform:translate(-50%,-50%);

}
강64{
    color:#F9202C;
    font-size: 4vw;
    top:50%;
    left:66%;
    transform:translate(-50%,-50%);

}